* {
	margin: 0;
	padding: 0;
}

/* 슬라이드배너 꾸미기 */
.slide {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	padding-bottom: 100px;
}

.slide .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.slide .swiper-slide a {
	display: block;
	width: 100%;
	height: 100%;
}

.slide .swiper-slide img {
	display: block;
	width: 100%;
}

/*이동버튼 영역 색상 바꾸기*/
.slide .swiper-button-prev,
.slide .swiper-button-next {
	color: rgba(0, 0, 0, 0.8);
}

/* 이동버튼 위치 */
.slide .swiper-button-prev{
	top: 750px;
	left: 600px;
}

.slide .swiper-button-next{
	top: 750px;
	right: 600px;
}


/*이동버튼 영역 호버 시 색상 바꾸기*/
.slide .swiper-button-prev:hover,
.slide .swiper-button-next:hover {
	color: rgba(0, 0, 0, 0.4);
}

/* 이동버튼 이미지로 바꾸기 */
.slide .swiper-button-prev,
.slide .swiper-button-next{
	width: 13px;
	height: 20px;
	z-index: 11;
}
.slide .swiper-button-prev:after,
.slide .swiper-button-next:after{
	content: '';
	display: block;
	width: 13px;
	height: 20px;
}
.slide .swiper-button-prev:after{
	background: url(../img_main/page_prev.png) no-repeat;
}
.slide .swiper-button-next:after{
	background: url(../img_main/page_next.png) no-repeat;
}
.swiper-button-next:hover{
    opacity: 0.6;
}
.swiper-button-prev:hover{
    opacity: 0.6;
}

/* 블릿버튼 크기, 색상, 투명도 */
.slide .swiper-pagination-bullet {
	background: rgb(0, 0, 0);
	width: 12px;
	height: 12px;
	opacity: 0.4;
}

/* 블릿버튼 페이지 표시날 때 투명도 */
.slide .swiper-pagination-bullet-active {
	opacity: 0.8;
}

/* 블릿버튼 위치 */
.slide .swiper-pagination-bullets.swiper-pagination-horizontal {
	bottom: 50px;
}